// App Styling
#app {
    position: relative;
    z-index: 1;
    background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url('/images/Kiemelis-vakare.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    #cormorant {
        font-family: $font-family-cormorant;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="datetime-local"]::-webkit-inner-spin-button,
    input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }

    textarea::placeholder,
    input::placeholder {
        color: #EEEEEE;
        opacity: 1;
    }

    option[value=""][selected] {
        display: none;
    }

    #reservations_table_filter,
    #reservations_table_length,
    #reservations_table_info,
    #reservations_table_length select,
    #reservations_table_filter input,
    #tables_table_filter,
    #tables_table_length,
    #tables_table_info,
    #tables_table_length select,
    #tables_table_filter input,
    #halls_table_filter,
    #halls_table_length,
    #halls_table_info,
    #halls_table_length select,
    #halls_table_filter input {
        color: #FFFFFF;
    }

    #reservations_table_paginate a,
    #tables_table_paginate a,
    #halls_table_paginate a {
        background: $secondary-color;
    }

    .fade-in {
        animation: FadeIn 300ms linear;

        @keyframes FadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    .btn-hover-focus {
        transition: opacity 300ms ease;
        opacity: 1;

        &:hover, &:focus {
            opacity: .75;
        }
    }

    .input-hover-focus {
        border: 2px solid $primary-color;
        transition: border 300ms ease;

        &:hover, &:focus {
            border: 2px solid $secondary-color;
        }
    }
}
