// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-cormorant: 'Cormorant', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #C19F5F;
$secondary-color: #BBBBBB;
